//COR
$colorPrimary:#F3DC89;
$colorBtnTelefone: #1162DB;
$colorTelefone: #337DEC;
$colorBtnWhatsapp:#03C969 ;
$colorWhatsapp:#00E676;
$colorblack: #000;
$colorgrey: #F8F7F3;
$coloryellow: #FCD64F;


//CENTRALIZAR
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}
