.banner{
    background-color: $colorPrimary;
}

.tela1{
    margin-left: 3rem;
    margin-right: 3rem;
}

.titulo-e-form{
    display: flex;
}

.titulo-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px;
}

.conquiste-mais-clientes{
    font-size: 1.5rem;
    text-transform: uppercase;
}


.face-google{
    max-width: 250px;
}

.form-mobile{
    display: none;
}

.titulo-form{
    padding: 20px;
    background-color: #231F20;
    max-width: 438,5px;
    min-width: 380px;
    color: #fff;
}

.form-web{
    padding:20px;
    max-width: 438,5px;
    min-width: 380px;
    background-color: #fff;
}

.texto-p{
    min-width: 474px;
}

.name{
    margin-bottom: 1rem!important;
    display: flex;
    flex-direction: column;
}
.email{
    margin-bottom: 1rem!important;
    display: flex;
    flex-direction: column;
}
.fone{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem!important;
}

.form-label{
    margin-bottom: 1rem!important;
}


.botao{
    display: flex;
    flex-direction: row-reverse;
}

.btn-enviar{
    border-radius: 5px;
    border: none;
    height: 30px;
    background-color: $colorBtnTelefone;
    min-width: 100px;
    font-weight: bold;
    font-size:14px;
    color: #fff;
}

@media(max-width: 1200px){
    .mulher-celular{
        width: 400px;    
    }
    
    .titulo-main{
        min-width: 250px;
        padding: 0;
    }

    .titulo-form{
        min-width: 300px;
    }

    .form-web{
        min-width: 300px;
    }
}

@media(max-width: 992px){
    .mulher-celular{
        width: 350px;    
    }
    
    .titulo-main{
        min-width: 200px;
        padding: 0;
    }

    .titulo-form{
        min-width: 300px;
    }

    .form-web{
        min-width: 300px;
    }
}

@media(max-width: 979px){
    .titulo-e-form{
        flex-direction: column;
    }

    .form-web{
        padding: 0 10px;
    }
}

@media(max-width: 727px){
    .titulo-form{
        display: none;
    }

    .form-web{
        display: none;
    }

    .form-mobile{
        display:inline;
    }
}

@media(max-width: 650px){
    .mulher-celular{
        width: 250px;    
    }
    
    .titulo-main{
        min-width: 200px;
    }

    .face-google{
        max-width: 150px;
    }

}


@media(max-width: 500px){
    .mulher-celular{
        width: 200px; 
        padding: 0;   
    }
    
    .titulo-main{
        font-size: 12px;
        min-width: 130px;
    }

    .use-anuncios-web{
        font-size: 12px;
        min-width: 130px;
    }
    .face-google{
        max-width: 100px;
    }
}








