<section class="container-fluid como-podemos-ajudar">

    <div class="row podemos-ajudar">

        <div class="col-4 ajuda">

            <div class="centralizar">
                <h4 class="titulo-ajuda">Como<br>
                    podemos<br>
                    ajudar</h4>
            </div>

        </div>

        <div class="col-8 conteudo-ajuda">
            <p class="text-frase-ajuda">O Brasil tem mais de 150 milhões de usuários online, em redes sociais e consultando informações antes de compra. Nossa solução traz seu negócio para o ambiente digital, melhorando a eficiência de seus resultados e dando acesso às informações necessárias para cada venda.</p>
        </div>

    </div>

    
    <div class="centralizar icons-skills mt-5">

        <div class="container d-flex icons-skills-col  centralizar">

            <div class="row coluna1 ">


                <div class="skills col-6 col-lg-2 offset-1">
                    <div class="icone-skills">
                        <img src="./assets/img/icon1.svg" alt="Anúncios no Facebook, Instagram, Google e outros">
                    </div>
                    <div class="icone-mensagem">
                        <span>Anúncios no Facebook, Instagram, Google e outros</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon2.svg" alt="Site otimizado para vendas">
                    </div>
                    <div class="icone-mensagem">
                        <span>Site otimizado para vendas</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon3.svg" alt="Integração com CRM*">
                    </div>
                    <div class="icone-mensagem">
                        <span>Integração com CRM*</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon4.svg" alt="Painel de resultados em tempo real">
                    </div>
                    <div class="icone-mensagem">
                        <span>Painel de resultados em tempo real</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2 ">
                    <div class="icone-skills">
                        <img src="./assets/img/icon5.svg" alt="Banco de chamadas recebidas">
                    </div>
                    <div class="icone-mensagem">
                        <span>Banco de chamadas recebidas</span>
                    </div>
                </div>

                <div class="skills col-6 col-lg-2 offset-1 ">
                    <div class="icone-skills">
                        <img src="./assets/img/icon6.svg" alt="Planejamento de anúncios">
                    </div>
                    <div class="icone-mensagem">
                        <span>Planejamento de anúncios</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon7.svg" alt="Criação de artes de anúncios">
                    </div>
                    <div class="icone-mensagem">
                        <span>Criação de artes de anúncios</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon8.svg" alt="Relatórios individuais">
                    </div>
                    <div class="icone-mensagem">
                        <span>Relatórios individuais</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon9.svg" alt="Otimizações dos anúncios">
                    </div>
                    <div class="icone-mensagem">
                        <span>Otimizações dos anúncios</span>
                    </div>
                </div>
    
                <div class="skills col-6 col-lg-2">
                    <div class="icone-skills">
                        <img src="./assets/img/icon10.svg" alt="Suporte especializado">
                    </div>
                    <div class="icone-mensagem">
                        <span>Suporte especializado</span>
                    </div>
                </div>

            </div>

        </div> 
    </div>
</section>