<main class="main-slide">
    <div class="container-fluid banner">

        <div class="centralizar tela1">

            <div class="col-4 centralizar ">
                <img class="mulher-celular" src="./assets/img/g1.png" alt="mulher com celular">
            </div>

            <div class="titulo-e-form">

                <div class="col-4 titulo-main">

                    <h1 class="conquiste-mais-clientes">Conquiste mais clientes a<br> um clique de distância</h1>

                    <p class="use-anuncios-web">Use anuncios no Facebook, Instagram e Google e apareça para os clientes
                        certos, nos locais certos
                    </p>

                    <div>
                        <img class="face-google" src="./assets/img/faceGogle.svg" alt="facebook e google">
                    </div>

                </div>

                <div class="col-4 formulario">


                    <div class="titulo-form">
                        <p class="text-center">Soluções personalizadas para sua empresa. Fale conosco.</p>
                    </div>

                    <form class="form-web" name="f1">

                        <div class="name">
                            <label for="formGroupExampleInput" class="form-label">NOME</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" required maxlength="100">
                        </div>

                        <div class="email">
                            <label for="formGroupExampleInput2" class="form-label">E-MAIL</label>
                            <input type="text" name="email" class="form-control" id="formGroupExampleInput2"
                                placeholder="lucinanof_@dominio.com" required maxlength="100"
                                onblur="validacaoEmail(f1.email)">
                            <div id="msgemail"></div>
                        </div>

                        <div class="fone">
                            <label for="formGroupExampleInput3" class="form-label">TELEFONE</label>
                            <input type="text" class="form-control" id="formGroupExampleInput3" required>
                        </div>


                        <div class="botao">
                            <button type="submit" class="btn-enviar">ENVIAR</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>