<section class="container">
    <div class="row d-flex flex-column conquiste-mais">
        <div class="col-6 mt-5">
            <p class="h4 text-uppercase">
                Conquiste mais clientes com Digital
            </p>
        </div>

       <div class="d-flex ">
            <div class="col-6 solucao-digital">
                <p>Solução digital de vendas para você ter mais leads e vender mais.</p>
                
                <img class="capitura" src="../assets/img/capitura.JPG" alt="captitura">
            </div>    
            <div class="col-6 voce-tera">

                <p class="titulo-lista">Com a Jogga você terá:</p><br>

                <p>&#10003; Site otimizado para geração de leads</p><br>

                <p>&#10003; Anúncios nas principais mídias sociais com objetivo de converter seu público em leads</p><br>

                <p>&#10003; Equipe especializada em mídia digital responsável pelo planejamento, execução, análise e otimização de suas campanhas.</p><br>

                <p>&#10003; Banco de dados com todas as chamadas recebidas</p><br>

                <p>&#10003; Painel de controle para visualizar dados de suas chamadas, como, leads gerados, canais, total investido, retorno sob investimento e mais!</p><br>

                <p>&#10003; Integração com as principais plataformas de CRM</p><br>

                <p>&#10003; Equipe de criação para produção de peças destinadas exclusivamente à anúncios</p><br>

                <p>&#10003; Equipe de produção de peças destinadas exclusivamente à anúncios</p><br>

                <p>&#10003; Relatórios individuais</p><br>
                
                <p>&#10003; Atendimento especializado de uma empresa Google Premier Partner e Facebook Marketing Partner</p>
                
            </div>           
       </div>
    </div>
</section>


<!-- FALE COM NOSSO TIME -->
<section class="container d-flex fale-com-nosso-time mt-5">
        <div class="col-12 nosso-time d-flex text-white">

            <div class="d-flex flex-column">
                <span class="h4 text-uppercase">
                    Fale com nosso time de especialistas.
                </span>
                
                <span>
                    Nós apresentaremos as melhores soluções<br> digitais para seu negócio.
                </span>
            </div>

            <div>
                <a class="whatsapp centralizar">
                    <img class="img-whatsapp" src="../assets/img/icon-whatsapp.svg" alt="whatsapp">
                    <div class="d-flex flex-column ">
                        <span>Fale Conosco</span>
                        <span>WHATSAPP</span>
                    </div>
                </a>
            </div>

        </div>
</section>