<div class="container nossos-servicos">
    <div class="row">
        <div class="col-12 servico d-flex flex-column ">

            <div class="titulo-servico">
                <span class=" h4 text-uspanpercase">
                    NOSSOS SERVIÇOS
                </span>
            </div>

            <div class="conteudo-servico mt-3">
                <p>Na Jogga, nós entendemos a importância de cada venda. Por isso, criamos uma solução completa para atração de clientes. Para que você e sua equipe se preocupem apenas em fechar negócios.</p>
            </div>

        </div>
    </div>

</div>


<section class="container mt-5 marcas-parceiras">
    <div class="row centralizar mb-5">
        <div class="col-8 fale-conosco d-flex justify-content-between align-items-center">
            
            <div class="d-flex flex-column">
                <span class="h4 text-uppercase">
                    fale com nosso time de especialistas. 
                </span>
                <span class="nos-apresentaremos">
                    Nós apresentaremos as melhores <br> soluções digitais para seu negócio.
                </span>
            </div>
            
            <div class="text-white">
                <a class="telefone centralizar">
                    <img class="msg-telefone" src="../assets/img/icon-whatsapp.svg" alt="telefone">
                    <div class="d-flex flex-column btn-texto">
                        <span>LIGUE AGORA</span>
                        <span>81 00000 0000</span>
                    </div>
                </a>
            </div>

        </div>

        

    </div>
    
    <div class="row ">
        <div class="logo-marca">
            <p class="h4 text-center text-uppercase quem-confia">Quem confia na gente</p>
            <hr>

            <div class="d-flex justify-content-between flex-wrap">
                
                <img src="./assets/img/m1.svg" alt="logo-ford">
            
                <img src="./assets/img/m2.svg" alt="logo-audi">
        
                <img src="./assets/img/m3.svg" alt="logo-moura">
            
                <img src="./assets/img/m4.svg" alt="logo-lexus">
        
                <img src="./assets/img/m5.svg" alt="logo-fiat">
        
                <img src="./assets/img/m6.svg" alt="logo-jeep">

                <img src="./assets/img/m7.svg" alt="logo-jaguar">
            
                <img src="./assets/img/m8.svg" alt="logo-hmb">
        
                <img src="./assets/img/m9.svg" alt="logo-mardisa">
            
                <img src="./assets/img/m10.svg" alt="logo-muma">
        
                <img src="./assets/img/m11.svg" alt="logo-queiroz">
        
                <img src="./assets/img/m12.svg" alt="logo-toyolex">

                <img src="./assets/img/m13.svg" alt="logo-jcpm">
        
                <img src="./assets/img/m14.svg" alt="logo-way">

                
            </div>

        </div>
    </div>

</section>