<!-- HEADER -->
<header>
    <div class="container-fluid header-navbar ">
        <nav>

            <img class="logo"src="assets/img/logo-jogga.svg" alt="logo-jogga">

            <div class="contatos">

                <a class="btn-telefone">
                    <img class="img-telefone" src="assets/img/icon-whatsapp.svg" alt="telefone">
                    <div class="info-contato">
                        <span>LIGUE AGORA</span>
                        <span>81 00000 0000</span>
                    </div>
                </a>

                <a class="btn-whatsapp">
                    <img class="img-whatsapp" src="assets/img/icon-whatsapp.svg" alt="whatsapp">
                    <div class="info-contato">
                        <span>FALE CONOSCO</span>
                        <span>WHATSAPP</span>
                    </div>
                </a>

            </div>
        </nav>
    </div>
</header>